In [ ]:
# Instalar requirements (en la terminal, activado venv):

# pip install -r requirements.txt

In [6]:
# !pip install seaborn

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
from sqlalchemy import create_engine, text

In [12]:
# Google Cloud db

from sqlalchemy import create_engine, text
churro = "postgresql://postgres:password24@database-2.cfux8oazuteg.eu-west-3.rds.amazonaws.com:5432/postgres"

In [13]:
engine = create_engine(churro)

In [10]:
# Para mirar las bbdd que hay

query = "SELECT datname FROM pg_database;"

pd.read_sql(query, con=engine)

     datname
0  template0
1  template1
2   postgres
3   rdsadmin

In [11]:
df = pd.DataFrame({"a":[1, 2, 3], "b":[5, 6, 7]})
df

   a  b
0  1  5
1  2  6
2  3  7

In [14]:
df.to_sql("test", con=engine, if_exists="append")

3

In [18]:
query = "SELECT * FROM pg_catalog.pg_tables;"

pd.read_sql(query, engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,test,postgres,None,True,False,False,False
1,pg_catalog,pg_statistic,rdsadmin,None,True,False,False,False
2,pg_catalog,pg_type,rdsadmin,None,True,False,False,False
3,pg_catalog,pg_foreign_table,rdsadmin,None,True,False,False,False
4,pg_catalog,pg_authid,rdsadmin,pg_global,True,False,False,False
...,...,...,...,...,...,...,...,...
64,pg_catalog,pg_largeobject,rdsadmin,None,True,False,False,False
65,information_schema,sql_features,rdsadmin,None,False,False,False,False
66,information_schema,sql_implementation_info,rdsadmin,None,False,False,False,False
67,information_schema,sql_parts,rdsadmin,None,False,False,False,False
68,information_schema,sql_sizing,rdsadmin,None,False,False,False,False

In [19]:
query = "SELECT * FROM test;"

pd.read_sql(query, engine)

   index  a  b
0      0  1  5
1      1  2  6
2      2  3  7