In [ ]:
# Instalar requirements (en la terminal, activado venv):

# pip install -r requirements.txt

In [6]:
# !pip install seaborn

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
from sqlalchemy import create_engine, text

In [12]:
# Google Cloud db

from sqlalchemy import create_engine, text
churro = "postgresql://postgres:password24@database-2.cfux8oazuteg.eu-west-3.rds.amazonaws.com:5432/postgres"

In [13]:
engine = create_engine(churro)

In [10]:
# Para mirar las bbdd que hay

query = "SELECT datname FROM pg_database;"

pd.read_sql(query, con=engine)

     datname
0  template0
1  template1
2   postgres
3   rdsadmin

In [11]:
df = pd.DataFrame({"a":[1, 2, 3], "b":[5, 6, 7]})
df

   a  b
0  1  5
1  2  6
2  3  7

In [14]:
df.to_sql("test", con=engine, if_exists="append")

3

In [18]:
query = "SELECT * FROM pg_catalog.pg_tables;"

pd.read_sql(query, engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,test,postgres,None,True,False,False,False
1,pg_catalog,pg_statistic,rdsadmin,None,True,False,False,False
2,pg_catalog,pg_type,rdsadmin,None,True,False,False,False
3,pg_catalog,pg_foreign_table,rdsadmin,None,True,False,False,False
4,pg_catalog,pg_authid,rdsadmin,pg_global,True,False,False,False
...,...,...,...,...,...,...,...,...
64,pg_catalog,pg_largeobject,rdsadmin,None,True,False,False,False
65,information_schema,sql_features,rdsadmin,None,False,False,False,False
66,information_schema,sql_implementation_info,rdsadmin,None,False,False,False,False
67,information_schema,sql_parts,rdsadmin,None,False,False,False,False
68,information_schema,sql_sizing,rdsadmin,None,False,False,False,False

In [19]:
query = "SELECT * FROM test;"

pd.read_sql(query, engine)

   index  a  b
0      0  1  5
1      1  2  6
2      2  3  7

### Pruebas SQLite

In [1]:
import sqlite3
from sqlalchemy import create_engine, text
import pandas as pd
import numpy as np

In [4]:
import os
os.getcwd()

'c:\\Users\\APint\\Documents\\Data Science\\Bootcamp EDEM_The Bridge\\Core_VLC\\Carpeta de trabajo\\Desafio_tripulaciones\\scripts\\data-endpoints'

In [2]:
engine = create_engine("sqlite:///./bbdd/db_test.db")

In [79]:
df = pd.DataFrame({
    "num_tlf": [684575757, 675675675, 456456456],
    "inc_rec": ["Buenos dÃ­as, he notado que el ascensor no estÃ¡ funcionando correctamente.",
                "Lamentablemente, parece que hay una tuberÃ­a rota en el segundo piso.",
                "Me preocupan unas grietas que han aparecido en un pilar del sÃ³tano."],
    "categ":[np.nan, "tupri", np.nan],
    "urg":[np.nan, 3, 1]
})
df

     num_tlf                                            inc_rec  categ  urg
0  684575757  Buenos dÃ­as, he notado que el ascensor no estÃ¡...    NaN  NaN
1  675675675  Lamentablemente, parece que hay una tuberÃ­a ro...  tupri  3.0
2  456456456  Me preocupan unas grietas que han aparecido en...    NaN  1.0

In [80]:
df.to_sql("inc_table", con=engine, if_exists="replace")

3

In [81]:
query = "SELECT * FROM inc_table"

pd.read_sql(query, engine)

,index,num_tlf,inc_rec,categ,urg
0,0,684575757,"Buenos dÃ­as, he notado que el ascensor no estÃ¡...",None,NaN
1,1,675675675,"Lamentablemente, parece que hay una tuberÃ­a ro...",tupri,3.0
2,2,456456456,Me preocupan unas grietas que han aparecido en...,None,1.0

In [7]:
df.columns

Index(['num_tlf', 'inc_rec', 'mens_chat', 'categ', 'urg'], dtype='object')

In [64]:
query = '''SELECT inc_rec FROM inc_table

WHERE (categ IS NULL) OR (urg IS NULL)

'''

result = pd.read_sql(query, engine).values
lista_inc = []

for elem in result:
    lista_inc.append(elem[0])

lista_inc

['Buenos dÃ­as, he notado que el ascensor no estÃ¡ funcionando correctamente.',
 'Me preocupan unas grietas que han aparecido en un pilar del sÃ³tano.']

In [41]:
for incidencia in lista_inc:
    
    print(incidencia)

Buenos dÃ­as, he notado que el ascensor no estÃ¡ funcionando correctamente.
Me preocupan unas grietas que han aparecido en un pilar del sÃ³tano.

Hacer un bucle for al cÃ³digo de abajo para clasificar cada incidencia de la lista de arriba.

In [8]:
import re

respuesta_chat = "CategorÃ­a: Grietas, Urgencia: 4"

# Definir patrones de expresiones regulares
patron_categoria = r"CategorÃ­a: (\w+)"
patron_urgencia = r"Urgencia: (\d+)"

# Buscar coincidencias en la cadena
match_categoria = re.search(patron_categoria, respuesta_chat)
match_urgencia = re.search(patron_urgencia, respuesta_chat)

# Extraer informaciÃ³n y almacenar en variables
categoria = match_categoria.group(1) if match_categoria else None
urgencia = int(match_urgencia.group(1)) if match_urgencia else None

# Imprimir los resultados
print("CategorÃ­a:", categoria)
print("Urgencia:", urgencia)

CategorÃ­a: Grietas
Urgencia: 4

In [44]:
categoria

'Grietas'

In [18]:
incidencia

'Me preocupan unas grietas que han aparecido en un pilar del sÃ³tano.'

In [57]:
query = """
    UPDATE inc_table
    SET categ = :categoria, urg = :urgencia
    WHERE inc_rec = :incidencia
"""

# Ejecuta la expresiÃ³n de actualizaciÃ³n
with engine.connect() as connection:
    result = connection.execute(text(query), {'categoria': categoria, 'urgencia': urgencia, 'incidencia': incidencia})
    # connection.commit()
    connection.connection.commit()
    print(f"NÃºmero de filas afectadas: {result.rowcount}")

NÃºmero de filas afectadas: 1

In [48]:
df["inc_rec"][2] == incidencia

True

In [58]:
query = "SELECT * FROM inc_table"

pd.read_sql(query, engine)

,index,num_tlf,inc_rec,mens_chat,categ,urg
0,0,684575757,"Buenos dÃ­as, he notado que el ascensor no estÃ¡...",None,None,NaN
1,1,675675675,"Lamentablemente, parece que hay una tuberÃ­a ro...",Hola,tupri,3.0
2,2,456456456,Me preocupan unas grietas que han aparecido en...,None,Grietas,4.0

Esta es una query alternativa por si no va la anterior:

In [51]:
# from sqlalchemy import create_engine, update, MetaData, Table, Column, String

# metadata = MetaData()
# mi_tabla = Table('inc_table', metadata, autoload_with=engine)

# stmt = update(mi_tabla).values({'categ': categoria, 'urg': urgencia}).where(mi_tabla.c.inc_rec == incidencia)

# # Ejecuta la expresiÃ³n de actualizaciÃ³n
# with engine.connect() as connection:
#     result = connection.execute(stmt)
#     connection.commit()
#     print(f"NÃºmero de filas afectadas: {result.rowcount}")

NÃºmero de filas afectadas: 1

In [59]:
# query = "SELECT * FROM inc_table"

# pd.read_sql(query, engine)